/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FONT SCRITTE */
body{
    font-family: 'Fredoka', sans-serif;
}

/* HEADER */

header{
    text-align: center;
    margin-bottom: 20px;
    
}

h1{
    color: #e53170;
    padding: 40px;
}

h1 + p {
    padding: 0 40px;
}

/* MAIN */

section {
    width: 50%;
    margin: auto;
    
}
/* CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* IMMAGINE */
img{
    width: 100px;
    float: left;
}
/* DESCRIZIONE */
.col{
    float: left;
    padding: 30px;
    width: calc( 100% / 3 );
}

.card{
    float: left;
    background-color: black;
    color: white;
    width: 300px ;
    line-height: 33px;
    box-shadow: 1px 1px 5px black;
    }

 a{
     text-decoration: none;
    color: #00aef4;
}   

.cont{
    line-height: 33px;
    float: left;
    padding-left: 10px;
}    

